<footer class="sections" id="footer-sections" data-footer-sections>
  
  
  
  
  
  
    
    


  
  











<section
  data-test="page-section"
  
  data-section-theme="white"
  class='page-section 
    
      full-bleed-section
      layout-engine-section
    
    background-width--full-bleed
    
      
        section-height--custom
      
    
    
      content-width--wide
    
    horizontal-alignment--center
    vertical-alignment--middle
    
      
    
    
    white'
  
  data-section-id="679012581a9b3d79fdb90a2a"
  
  data-controller="SectionWrapperController"
  data-current-styles="{
&quot;imageOverlayOpacity&quot;: 0.15,
&quot;backgroundWidth&quot;: &quot;background-width--full-bleed&quot;,
&quot;sectionHeight&quot;: &quot;section-height--custom&quot;,
&quot;customSectionHeight&quot;: 0,
&quot;horizontalAlignment&quot;: &quot;horizontal-alignment--center&quot;,
&quot;verticalAlignment&quot;: &quot;vertical-alignment--middle&quot;,
&quot;contentWidth&quot;: &quot;content-width--wide&quot;,
&quot;customContentWidth&quot;: 50,
&quot;sectionTheme&quot;: &quot;white&quot;,
&quot;sectionAnimation&quot;: &quot;none&quot;,
&quot;backgroundMode&quot;: &quot;image&quot;
}"
  data-current-context="{
&quot;video&quot;: {
&quot;playbackSpeed&quot;: 0.5,
&quot;filter&quot;: 1,
&quot;filterStrength&quot;: 0,
&quot;zoom&quot;: 0,
&quot;videoSourceProvider&quot;: &quot;none&quot;
},
&quot;backgroundImageId&quot;: null,
&quot;backgroundMediaEffect&quot;: {
&quot;type&quot;: &quot;none&quot;
},
&quot;divider&quot;: {
&quot;enabled&quot;: false,
&quot;type&quot;: &quot;none&quot;,
&quot;width&quot;: {
&quot;unit&quot;: &quot;vw&quot;,
&quot;value&quot;: 100.0
},
&quot;height&quot;: {
&quot;unit&quot;: &quot;vw&quot;,
&quot;value&quot;: 6.0
},
&quot;isFlipX&quot;: false,
&quot;isFlipY&quot;: true,
&quot;offset&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 0.0
},
&quot;stroke&quot;: {
&quot;style&quot;: &quot;solid&quot;,
&quot;color&quot;: {
&quot;type&quot;: &quot;THEME_COLOR&quot;
},
&quot;thickness&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 6.0
},
&quot;dashLength&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 5.0
},
&quot;gapLength&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 15.0
},
&quot;linecap&quot;: &quot;square&quot;
}
},
&quot;typeName&quot;: &quot;page&quot;
}"
  data-animation="none"
  data-fluid-engine-section
   
  
  
  
  
  


  data-sqsp-section="fluid-engine"


>
  <div
    class="section-border"
    
  >
    <div class="section-background">
    
      
    
    </div>
  </div>
  <div
    class='content-wrapper'
    style='
      
        
          
          padding-top: calc(0vmax / 10); padding-bottom: calc(0vmax / 10);
        
      
    '
  >
    <div
      class="content"
      
    >
      
      
      
      
      
      
      
      
      
      
      <div data-fluid-engine="true"><style>

.fe-679012581a9b3d79fdb90a29 {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(9,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 16.0px;
  column-gap: 11.0px;
  overflow-x: hidden;
  overflow-x: clip;
}

@media (min-width: 768px) {
  .background-width--inset .fe-679012581a9b3d79fdb90a29 {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-679012581a9b3d79fdb90a29 {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(5,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-2461c3e7ed3519467a3a {
    grid-area: 5/2/9/6;
    z-index: 3;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-2461c3e7ed3519467a3a .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-2461c3e7ed3519467a3a .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-2461c3e7ed3519467a3a {
      grid-area: 2/6/4/12;
      z-index: 3;

      

      
    }

    .fe-block-2461c3e7ed3519467a3a .sqs-block {
      justify-content: flex-end;
    }

    .fe-block-2461c3e7ed3519467a3a .sqs-block-alignment-wrapper {
      align-items: flex-end;
    }
  }

  .fe-block-045c6b4f19ff3eca352b {
    grid-area: 5/6/9/10;
    z-index: 4;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-045c6b4f19ff3eca352b .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-045c6b4f19ff3eca352b .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-045c6b4f19ff3eca352b {
      grid-area: 2/16/4/26;
      z-index: 4;

      

      
    }

    .fe-block-045c6b4f19ff3eca352b .sqs-block {
      justify-content: flex-end;
    }

    .fe-block-045c6b4f19ff3eca352b .sqs-block-alignment-wrapper {
      align-items: flex-end;
    }
  }

  .fe-block-157da4d9aca29c409b34 {
    grid-area: 2/6/4/10;
    z-index: 2;

    @media (max-width: 767px) {
      
      
    }
  }

  .fe-block-157da4d9aca29c409b34 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-157da4d9aca29c409b34 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-157da4d9aca29c409b34 {
      grid-area: 2/12/5/15;
      z-index: 2;

      

      
    }

    .fe-block-157da4d9aca29c409b34 .sqs-block {
      justify-content: center;
    }

    .fe-block-157da4d9aca29c409b34 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

</style><div class="fluid-engine fe-679012581a9b3d79fdb90a29"><div class="fe-block fe-block-2461c3e7ed3519467a3a"><div class="sqs-block website-component-block sqs-block-website-component sqs-block-html html-block" data-block-css="[&quot;https://definitions.sqspcdn.com/website-component-definition/static-assets/website.components.html/b6dd483b-9d91-4b82-8888-d9cf0d14fade_947/website.components.html.styles.css&quot;]" data-block-scripts="[&quot;https://definitions.sqspcdn.com/website-component-definition/static-assets/website.components.html/b6dd483b-9d91-4b82-8888-d9cf0d14fade_947/website.components.html.visitor.js&quot;]" data-block-type="1337" data-definition-name="website.components.html" data-sqsp-block="text" data-website-component-id="2461c3e7ed3519467a3a" id="block-2461c3e7ed3519467a3a"><div class="sqs-block-content"><div class="sqs-text-block-container">
  
  <div class="sqs-html-content" data-sqsp-text-block-content><p class="sqsrte-large" style="white-space:pre-wrap;"><a href="{{ site.baseurl }}/guitar">Guitar</a>        <a href="{{ site.baseurl }}/piano">Piano</a>        <a href="{{ site.baseurl }}/drums">Drums</a>        <a href="{{ site.baseurl }}/bass">Bass</a></p></div>


  
<style id="container-styles">#block-2461c3e7ed3519467a3a {
    
    --stroke-style: none;--stroke-thickness: 6px;
    
      
      
      
    



  }

  #block-2461c3e7ed3519467a3a .sqs-html-content {
    
    --tweak-text-block-padding: 6% 6% 6% 6%;
  --tweak-text-block-padding: initial;
}

  .fe-block-2461c3e7ed3519467a3a {
      mix-blend-mode: var(--tweak-text-block-blend
  );
      border-radius: var(--tweak-text-block-radius);
  }

  
  
.fe-block-2461c3e7ed3519467a3a {
      --tweak-text-block-radius: 0px 0px 0px 0px;
    }


  
  .fe-block-2461c3e7ed3519467a3a {
      --tweak-text-block-blend
  : normal;
    }
  

  .fe-block-2461c3e7ed3519467a3a {
    --blur-value: blur(15px);}

</style>

<style id="override-container-styles">
    @media screen and (max-width: 767px) {
          
            

#block-2461c3e7ed3519467a3a {
            
            }
        }
    
  
    @media screen and (max-width: 767px) {
          #block-2461c3e7ed3519467a3a .sqs-html-content {
            
            }
        }
    
  @media screen and (max-width: 767px) {
          
          

          
          
          
        }</style>
<style class="transform-overrides-vars">
  
</style>




</div>
</div></div></div><div class="fe-block fe-block-045c6b4f19ff3eca352b"><div class="sqs-block website-component-block sqs-block-website-component sqs-block-html html-block" data-block-css="[&quot;https://definitions.sqspcdn.com/website-component-definition/static-assets/website.components.html/b6dd483b-9d91-4b82-8888-d9cf0d14fade_947/website.components.html.styles.css&quot;]" data-block-scripts="[&quot;https://definitions.sqspcdn.com/website-component-definition/static-assets/website.components.html/b6dd483b-9d91-4b82-8888-d9cf0d14fade_947/website.components.html.visitor.js&quot;]" data-block-type="1337" data-definition-name="website.components.html" data-sqsp-block="text" data-website-component-id="045c6b4f19ff3eca352b" id="block-045c6b4f19ff3eca352b"><div class="sqs-block-content"><div class="sqs-text-block-container">
  
  <div class="sqs-html-content" data-sqsp-text-block-content><p class="sqsrte-large" style="white-space:pre-wrap;"><a href="{{ site.baseurl }}/bands">Rock Shop</a>        <a href="{{ site.baseurl }}/teachers">Teachers</a>        <a href="{{ site.baseurl }}/blog">Blog</a>        <a href="{{ site.baseurl }}/contact">Contact</a></p></div>


  
<style id="container-styles">#block-045c6b4f19ff3eca352b {
    
    --stroke-style: none;--stroke-thickness: 6px;
    
      
      
      
    



  }

  #block-045c6b4f19ff3eca352b .sqs-html-content {
    
    --tweak-text-block-padding: 6% 6% 6% 6%;
  --tweak-text-block-padding: initial;
}

  .fe-block-045c6b4f19ff3eca352b {
      mix-blend-mode: var(--tweak-text-block-blend
  );
      border-radius: var(--tweak-text-block-radius);
  }

  
  
.fe-block-045c6b4f19ff3eca352b {
      --tweak-text-block-radius: 0px 0px 0px 0px;
    }


  
  .fe-block-045c6b4f19ff3eca352b {
      --tweak-text-block-blend
  : normal;
    }
  

  .fe-block-045c6b4f19ff3eca352b {
    --blur-value: blur(15px);}

</style>

<style id="override-container-styles">
    @media screen and (max-width: 767px) {
          
            

#block-045c6b4f19ff3eca352b {
            
            }
        }
    
  
    @media screen and (max-width: 767px) {
          #block-045c6b4f19ff3eca352b .sqs-html-content {
            
            }
        }
    
  @media screen and (max-width: 767px) {
          
          

          
          
          
        }</style>
<style class="transform-overrides-vars">
  
</style>




</div>
</div></div></div><div class="fe-block fe-block-157da4d9aca29c409b34"><div class="sqs-block website-component-block sqs-block-website-component sqs-block-socialaccountlinks social-account-links-block social-account-links-v2-block" data-block-css="[&quot;https://definitions.sqspcdn.com/website-component-definition/static-assets/website.components.socialLinks/834c5967-def0-4d59-a3aa-c319050f9186_725/website.components.socialLinks.styles.css&quot;]" data-block-scripts="[&quot;https://definitions.sqspcdn.com/website-component-definition/static-assets/website.components.socialLinks/834c5967-def0-4d59-a3aa-c319050f9186_725/website.components.socialLinks.visitor.js&quot;]" data-block-type="1337" data-definition-name="website.components.socialLinks" data-sqsp-block="social-links" data-website-component-id="157da4d9aca29c409b34" id="block-157da4d9aca29c409b34"><div class="sqs-block-content">
  























<div class="sqs-block-socialaccountlinks-content">
  <div class="sqs-svg-icon--outer social-icon-alignment-right social-icons-color-black social-icons-size-extra-large social-icons-style-regular ">
    <style>
      
      #block-157da4d9aca29c409b34 {
        --social-icons-justify-content: flex-end;
        --social-icons-dimension: 32px;--social-icons-gap: 18px;
        --social-icons-border-thickness: 2px;
      }

      
      #block-157da4d9aca29c409b34 .sqs-svg-icon--wrapper {
        --si-border-radius: 0;--si-scale: 2;--si-box-shadow: none;--si-fill-icon: var(--si-primary);--si-fill-icon-fade: var(--si-primary-faded);--si-fill-icon-hover: var(--si-primary);--si-fill-mask: transparent;--si-fill-mask-fade: transparent;--si-fill-mask-hover: transparent;--si-bg: transparent;--si-bg-fade: transparent;--si-bg-hover: transparent;
      }

      
      #block-157da4d9aca29c409b34 .sqs-svg-icon--list {
        justify-content: var(--social-icons-justify-content, center);
        column-gap: var(--social-icons-gap, 12px);
        row-gap: var(--social-icons-gap, 12px);
      }
      #block-157da4d9aca29c409b34 .sqs-svg-icon--wrapper {
        width: var(--social-icons-dimension, 20px);
        height: var(--social-icons-dimension, 20px);
        margin: 0;
        border: none; 
        background-color: var(--si-bg, transparent);
        box-shadow: var(--si-box-shadow, none);
        border-radius: var(--si-border-radius, 0);
      }
      #block-157da4d9aca29c409b34 .sqs-svg-icon--wrapper > div {
        transform: scale(var(--si-scale, 1));
      }
      #block-157da4d9aca29c409b34 .sqs-use--icon {
        fill: var(--si-fill-icon, transparent);
      }
      #block-157da4d9aca29c409b34 .sqs-use--mask {
        fill: var(--si-fill-mask, transparent);
      }
      #block-157da4d9aca29c409b34 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper {
        background-color: var(--si-bg-fade, var(--si-bg, transparent));
      }
      #block-157da4d9aca29c409b34 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper .sqs-use--icon {
        fill: var(--si-fill-icon-fade, var(--si-fill-icon, transparent));
      }
      #block-157da4d9aca29c409b34 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper .sqs-use--mask {
        fill: var(--si-fill-mask-fade, var(--si-fill-mask, transparent));
      }
      #block-157da4d9aca29c409b34 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover {
        background-color: var(--si-bg-hover, var(--si-bg, transparent));
      }
      #block-157da4d9aca29c409b34 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--icon {
        fill: var(--si-fill-icon-hover, var(--si-fill-icon, transparent));
      }
      #block-157da4d9aca29c409b34 .sqs-svg-icon--list:hover .sqs-svg-icon--wrapper:hover .sqs-use--mask {
        fill: var(--si-fill-mask-hover, var(--si-fill-mask, transparent));
      }
    </style>
    <nav class="sqs-svg-icon--list">
      
        
          <a
            href="https://instagram.com/wylieschoolofmusic"
            target="_blank"
            class="sqs-svg-icon--wrapper instagram-unauth"
            aria-label="Instagram"
          >
            <div>
              <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                <use class="sqs-use--icon" xlink:href="{{ site.baseurl }}/universal/svg/social-accounts.svg#instagram-unauth-icon"></use>
                <use class="sqs-use--mask" xlink:href="{{ site.baseurl }}/universal/svg/social-accounts.svg#instagram-unauth-mask"></use>
              </svg>
            </div>
          </a>
        
      
        
          <a
            href="https://facebook.com/wylieschoolofmusic"
            target="_blank"
            class="sqs-svg-icon--wrapper facebook-unauth"
            aria-label="Facebook"
          >
            <div>
              <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                <use class="sqs-use--icon" xlink:href="{{ site.baseurl }}/universal/svg/social-accounts.svg#facebook-unauth-icon"></use>
                <use class="sqs-use--mask" xlink:href="{{ site.baseurl }}/universal/svg/social-accounts.svg#facebook-unauth-mask"></use>
              </svg>
            </div>
          </a>
        
      
        
          <a
            href="https://www.youtube.com/channel/UC3BX5RTWWpQQb9FAbS5eNNg"
            target="_blank"
            class="sqs-svg-icon--wrapper youtube-unauth"
            aria-label="YouTube"
          >
            <div>
              <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                <use class="sqs-use--icon" xlink:href="{{ site.baseurl }}/universal/svg/social-accounts.svg#youtube-unauth-icon"></use>
                <use class="sqs-use--mask" xlink:href="{{ site.baseurl }}/universal/svg/social-accounts.svg#youtube-unauth-mask"></use>
              </svg>
            </div>
          </a>
        
      
    </nav>
  </div>
  
    
<style id="container-styles">#block-157da4d9aca29c409b34 {
    
    
    



  }

  #block-157da4d9aca29c409b34 .sqs-block-socialaccountlinks-content {
    
    --tweak-social-links-block-padding: initial;
}

  .fe-block-157da4d9aca29c409b34 {
      mix-blend-mode: var(--tweak-social-links-block-blend);
      border-radius: var(--tweak-social-links-block-radius);
  }

  
  



  
  

  .fe-block-157da4d9aca29c409b34 {
    }

</style>

<style id="override-container-styles">
    @media screen and (max-width: 767px) {
          
            

#block-157da4d9aca29c409b34 {
            
            }
        }
    
  
    @media screen and (max-width: 767px) {
          #block-157da4d9aca29c409b34 .sqs-block-socialaccountlinks-content {
            
            }
        }
    
  @media screen and (max-width: 767px) {
          
          

          
          
          
        }</style>

    <style class="transform-overrides-vars">
  
</style>

    



  
</div>
</div></div></div></div></div>
    </div>
  
  </div>
  
</section>

  
</footer>