---
layout: default
title: "Music Tips & Lessons Blog | Wylie School of Music"
description: "Discover expert tips, music lesson guides, and practice advice from Wylie School of Music. Read our latest blog posts and improve your skills!"
header_theme: "white"
---
<div class="blog-masonry-wrapper">
  {% for post in site.posts %}
  <article class="blog-item">
    {% if post.featured_image %}
    <div class="blog-image-wrapper">
      <a href="{{ site.baseurl }}{{ post.url }}" class="image-wrapper">
        <img src="{{ site.baseurl }}{{ post.featured_image }}" alt="{{ post.title }}" loading="lazy">
      </a>
    </div>
    {% endif %}
    <div class="blog-item-summary">
      <div class="blog-meta-section">
        <time class="blog-date" datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%-m/%-d/%y" }}
        </time>
      </div>
      <h2 class="blog-title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h2>
      <a class="blog-more-link" href="{{ site.baseurl }}{{ post.url }}">Read More</a>
    </div>
  </article>
  {% endfor %}
</div>
