<!doctype html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="layout-{{ page.layout }} page-{{ page.url | slugify | default: 'home' }}">
  {% if site.google_tag_manager_id %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager_id }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}

  {% include header.html %}

  <main id="main-content" class="main-content">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="/assets/js/main.js"></script>
</body>
</html>
